<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223973626141-9uc88l2lnujtqq3dji17q9krdg052rd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223973626141-9uc88l2lnujtqq3dji17q9krdg052rd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBIdtg4y8debcaF99_HgcmsLrdof3gILsk</string>
	<key>GCM_SENDER_ID</key>
	<string>223973626141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Neriyah.Calorie-App</string>
	<key>PROJECT_ID</key>
	<string>calorieappdbv2</string>
	<key>STORAGE_BUCKET</key>
	<string>calorieappdbv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223973626141:ios:d85607d6be1e005febd1f4</string>
	<key>DATABASE_URL</key>
	<string>https://calorieappdbv2-default-rtdb.firebaseio.com</string>
</dict>
</plist>
